body {
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  min-height: 40px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.header .nav {
  display: flex;
}

.header .nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  vertical-align: text-bottom;
  opacity: 0.8;
  padding: 0;
}

.header .nav-list .nav-item {
  padding-top: 40px;
  padding-left: 12px;
  padding-right: 12px;
}

.header .nav-list .nav-item a {
  color: inherit;
  text-decoration: none;
}

.header .nav-list .registration {
  margin: auto;
  padding-top: 40px;
  padding-left: 12px;
  padding-right: 12px;
}

.header .nav-list .registration a {
  color: #0065fc;
  font-weight: bold;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: auto;
}

.title {
  line-height: 0.9em;
}

h3.title {
  opacity: 0.5;
}

.textfield .pre {
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -5px;
}

.textfield .sup {
  border: none;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: bold;
  margin-left: -5px;
}

.textfield button.sup {
  cursor: pointer;
}

.textfield input {
  border: solid 1px #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  font-weight: bold;
}

.chips {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.chips > * {
  margin-right: 20px;
  margin-bottom: 10px;
}

.chips .description {
  font-weight: bold;
}

.chips .item {
  border: solid 1px #f2f2f2;
  border-radius: 20px;
  line-height: 40px;
  padding-right: 10px;
  cursor: pointer;
  text-align: center;
}

.chips .item .icon {
  float: left;
  background-color: #deebff;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  font-size: 15px;
  text-align: center;
  margin-right: 10px;
  color: #0065fc;
  transition: all 0.2s ease-in-out;
}

.chips .item .text {
  font-weight: bold;
}

.chips .item:hover .icon {
  font-size: 25px;
}

.info-text {
  opacity: 0.5;
  display: inline;
}

.info-icon {
  color: #0065fc;
  border: solid 1px #f2f2f2;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  margin-top: -2px;
}

.hosting-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.hosting {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

.hosting-title {
  display: flex;
  justify-content: space-between;
}

.trending {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 15px;
}

.card-wrapper-hosting {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.card-wrapper-trending {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

.card {
  border-radius: 15px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
}

.card-ttb,
.card-activities-xsmall,
.card-activities-small,
.card-activities-medium,
.card-activities-huge {
  flex-direction: column;
}

.card-activities-small img,
.card-activities-medium img,
.card-activities-huge img,
.card-activities-xsmall img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 50%;
}

.card-ttb img {
  border-radius: 15px 15px 0px 0px;
  padding: 4px;
  width: 96%;
  height: 7em;
  object-fit: cover;
  object-position: 100% 50%;
}

.card-ltr {
  flex-direction: row;
  max-height: 7.5em;
}

.card-ltr img {
  border-radius: 15px 0px 0px 15px;
  padding: 4px;
  width: 6em;
  height: 7em;
  object-fit: cover;
  object-position: 50% 100%;
}

.card-title {
  display: block;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  line-height: 1.5em;
}

.card-description {
  font-style: normal;
  padding-left: 15px;
  padding-right: 10px;
  line-height: 1.5em;
}

.blue-text {
  color: #0065fc;
}

.grey-text {
  color: #f2f2f2;
}

.footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3em;
  padding-right: 10em;
}

.footer-links a {
  line-height: 1.8em;
}

.card-wrapper-trending .hosting-description,
.card-wrapper-hosting .hosting-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hosting-notation,
.trending-notation {
  padding-left: 15px;
  padding-bottom: 10px;
}

.hosting-notation {
  height: 60%;
}

@media all and (max-width: 639px) {
  body {
    font-size: 14px;
    margin: 0px;
  }

  .container {
    width: 100vw;
  }

  .logo {
    transform: scale(0.7);
    margin-top: 20px;
    position: absolute;
  }

  .header .nav {
    display: block;
    margin-top: -20px;
    width: 100%;
  }

  .header .nav .registration {
    margin-right: 0;
  }

  .header .nav-list .nav-item {
    border: none;
    border-bottom: solid 4px #f2f2f2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header .nav-list .nav-item.active {
    border-bottom: solid 4px;
    color: #0065fc;
  }

  .textfield {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textfield input {
    width: 45vw;
  }

  .textfield .sup {
    border-radius: 10px;
    margin-left: -2em;
    width: 35px;
  }

  .textfield .pre {
    padding-top: 10px;
    padding-bottom: 11px;
  }

  .no-display-mobile {
    display: none !important;
  }

  .chips .description {
    width: 100%;
  }

  .hosting-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .hosting {
    background-color: initial;
    border-radius: 10px;
    padding: 20px;
    grid-row: 2;
  }

  .card-wrapper-hosting {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .trending {
    border-radius: unset;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-row: 1;
  }

  .activities-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 30px;
  }

  .card-activities-xsmall img,
  .card-activities-small img,
  .card-activities-medium img,
  .card-activities-huge img {
    height: 11em;
  }

  .footer {
    flex-direction: column;
    padding-right: 0;
  }
}

@media all and (min-width: 640px) and (max-width: 768px) {
  body {
    font-size: 14px;
    margin: 0px;
  }

  .container {
    width: 615px;
  }

  .logo {
    transform: scale(0.7);
    margin-top: 20px;
    position: absolute;
  }

  .header .nav {
    display: block;
    margin-top: -20px;
    width: 100%;
  }

  .header .nav .registration {
    margin-right: 0;
  }

  .header .nav-list .nav-item {
    border: none;
    border-bottom: solid 4px #f2f2f2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header .nav-list .nav-item.active {
    border-bottom: solid 4px;
    color: #0065fc;
  }

  .textfield {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textfield input {
    width: 45vw;
  }

  .textfield .sup {
    border-radius: 10px;
    margin-left: -2em;
    width: 35px;
  }

  .textfield .pre {
    padding-top: 10px;
    padding-bottom: 11px;
  }

  .no-display-mobile {
    display: none !important;
  }

  .chips .description {
    width: 100%;
  }

  .hosting-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .hosting {
    background-color: initial;
    border-radius: 10px;
    padding: 20px;
    grid-row: 2;
  }

  .card-wrapper-hosting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .card-wrapper-trending {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .trending {
    border-radius: unset;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-row: 1;
  }

  .activities-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .card-activities-xsmall img,
  .card-activities-small img,
  .card-activities-medium img,
  .card-activities-huge img {
    height: 11em;
  }

  .footer {
    flex-direction: column;
    padding-right: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
    margin: 0px;
  }

  .container {
    width: 750px;
  }

  .logo {
    transform: scale(0.7);
    margin-top: 20px;
    position: absolute;
  }

  .header .nav {
    display: block;
    margin-top: -20px;
    width: 100%;
  }

  .header .nav .registration {
    margin-right: 0;
  }

  .header .nav-list .nav-item {
    border: none;
    border-bottom: solid 4px #f2f2f2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header .nav-list .nav-item.active {
    border-bottom: solid 4px;
    color: #0065fc;
  }

  .textfield {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textfield input {
    width: 45vw;
  }

  .textfield .sup {
    border-radius: 10px;
    margin-left: -2em;
    width: 35px;
  }

  .textfield .pre {
    padding-top: 10px;
    padding-bottom: 11px;
  }

  .no-display-mobile {
    display: none !important;
  }

  .chips .description {
    width: 100%;
  }

  .hosting-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .hosting {
    background-color: initial;
    border-radius: 10px;
    padding: 20px;
    grid-row: 2;
  }

  .card-wrapper-hosting,
  .card-wrapper-trending {
    font-size: 12px;
  }

  .card-wrapper-hosting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .card-wrapper-trending {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .trending {
    border-radius: unset;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-row: 1;
  }

  .activities-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .card-activities-xsmall img,
  .card-activities-small img,
  .card-activities-medium img,
  .card-activities-huge img {
    height: 11em;
  }
}

@media all and (min-width: 1024px) {
  .logo {
    left: 20px;
    top: 20px;
  }
  .no-display-other {
    display: none !important;
  }

  .header .nav-list .nav-item.active {
    border-top: solid 4px;
    padding-top: 37px;
    color: #0065fc;
  }

  .header .nav {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -25px;
  }

  .chips .description {
    padding-top: 15px;
  }

  .hosting-wrapper,
  .activities-wrapper {
    font-size: 14px;
  }

  .activities-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 14em 14em;
    grid-gap: 30px;
    grid-template-areas:
      "gridA gridB gridD gridE"
      "gridA gridC gridD gridF";
  }

  .gridA {
    grid-area: gridA;
  }
  .gridB {
    height: 120%;
    grid-area: gridB;
  }
  .gridC {
    height: 80%;
    align-self: end;
    grid-area: gridC;
  }
  .gridD {
    grid-area: gridD;
  }
  .gridE {
    grid-area: gridE;
  }
  .gridF {
    grid-area: gridF;
  }

  .card-activities-xsmall img {
    height: 8em;
  }

  .card-activities-small img {
    height: 11em;
  }

  .card-activities-medium img {
    height: 14em;
  }

  .card-activities-huge img {
    height: 26.8em;
  }
}
